div {
	position:absolute;
}

table {
	border: 1px solid black ;
}

th {
	text-align: left;
	border: 1px solid black ;
}

td {
	text-align: left;
	border: 1px solid #999999 ;
}

select {
	vertical-align: top; 
}

#authorities_nav {
	left : 10% ;
	top  : 20% ;
	width : 30% ;
	height : 10% ;
}

#ratings_nav {
	left : 60% ;
	top  : 20% ;
	width : 30% ;
	height : 60% ;
}